<template>
  <div id="all-articles-page">
    <h1 class="text-center">Tous les articles</h1>

    <!-- <v-row> -->
      <div class="col-md-9 mb-5 mx-auto">
        <AllArticlesList v-for="(post, p) in posts" :key="`${p}-${post}`" :post="post" />
      </div>
    <!-- </v-row> -->
  </div>
</template>

<script>
import AllArticlesList from "@/components/AllArticlesList.vue";
import PostService from "../services/PostServices";

export default {
  name: "AllArticlesPage",
  components: {
    AllArticlesList
  },
  data() {
    return {
      posts: []
    };
  },
  mounted() {
    const service = new PostService();
    service
      .findAll()
      .then(data => {
        this.posts = data;
      })
      .catch(() => this.$router.push("/"));
  }
};
</script>

<style lang="scss">
</style>
