<template>
  <div id="all-categories-page">
    <h1>Tous les catégories</h1>

    <v-row>
      <section class="col-12 mb-5">
        <AllCategoriesList v-for="(category, c) in categories" :key="`${c}-${category}`" :category="category" />
      </section>
    </v-row>
  </div>
</template>

<script>
import AllCategoriesList from "@/components/AllCategoriesList.vue";
import CategoryService from "../services/CategoryServices";

export default {
  name: "AllCategoriesPage",
  components: {
    AllCategoriesList
  },
  data() {
    return {
      categories: []
    };
  },
  mounted() {
    const service = new CategoryService();
    service
      .findAll()
      .then(data => {
        this.categories = data;
      })
      .catch(() => this.$router.push("/"));
  }
};
</script>

<style lang="scss">
</style>
