<template>
  <div id="one-article-page">
    <h1 class="text-center">{{ post.title }}</h1>

    <div class="col-md-9 mx-auto">
      <Article :post="post" />
      <AddComments :post="post" class="mt-5 mb-5" />
      <ShowComments :post="post" class="mb-5" />
    </div>
  </div>
</template>

<script>
import Article from "@/components/Article.vue";
import ShowComments from "@/components/ShowComments";
import AddComments from "@/components/AddComments";
import PostService from "../services/PostServices";

export default {
  name: "OneArticle",
  components: {
    Article,
    ShowComments,
    AddComments
  },
  data() {
    return {
      post: []
    };
  },
  mounted() {
    const service = new PostService();
    service
      .findById(this.$route.params.id)
      .then(data => {
        this.post = data;
      })
      .catch(() => this.$router.push("/"));
  }
};
</script>

<style lang="scss">
$green: #60ca60d8;
$green-dark: #449644;

#one-article-page {
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}
</style>
