<template>
  <v-container>
    <v-row>
      <div class="col-md-3 pt-4 text-center">
        <img id="photo_profil" src="../assets/ph_profil.jpg" alt="Avatar" />
      </div>
      <div class="col-md-9">
        <h2 class="pb-3">Hello !</h2>

        <p class="text-justify col-md-10">
          Il y a peu, j'ai créé un blog via Instagram afin de partager mes différentes lectures et
          recevoir les avis et références de lecteurs et/ou de bloggeur.
          Je souhaite promouvoir la lecture qui pour moi, est une pratique qui se perd mais importante pour accroître
          ses connaissances, améliorer son orthographe comme son vocabulaire puis pour travailler
          son imagination.
          <br />Ce que j'aime le plus dans la lecture, c'est d'imaginer les personnages, leurs expressions mais aussi
          les décors à ma manière.
          <br />
          <br />Adepte de littérature française, je vois ces écrits comme des poèmes contant des histoires d'amour
          qu'on ne pourrait vivre aujourd'hui. Mais aussi de dures récits qui me rappelle le bonheur que je
          vis.
          <br />J'aime aussi les histoires d'horreur, pour ça je peux compter sur Stefen King qui saura toujours me faire peur. Ou les romans emplis de rebondissements et Guillaume Musso y arrive emplement.
          <br />En terme de lecture, je peux dire être éclectique.
          <br />
          <br />J'espère que chacun aura envie de me lire et trouvera le livre
          qu'il aura envie de lire.
        </p>

        <div class="text-right pl-5 col-md-10">
          <img id="signature" src="../assets/signature.png" alt="Signature" />
        </div>
      </div>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src

export default {
  name: "AboutContent",
  components: {}
};
</script>

<style lang="scss">
#photo_profil {
  width: 150px;
  border-radius: 50%;
}

#signature {
    width: 90px;
}
</style>