<template>
  <v-container id="article">
    <v-row>
      <section class="col-md-11 mx-auto mb-5">
        <ul class>
          <li class="article-date-author">{{ post.date | formatDate }}</li>
          <li class="section-image mt-5">
            <div id="article-image" class="mb-5">
              <v-img :src="post.image" height="400"></v-img>
            </div>
          </li>
          <li class="text-justify pt-5">{{ post.content }}</li>
          <li class="article-date-author mt-5 text-right">{{ post.author }}</li>
        </ul>
      </section>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Article",
  props: {
    post: {
      default: () => [{}]
    }
  },
  components: {}
};
</script>

<style lang="scss">
$green: #60ca60d8;
$green-dark: #449644;
$black: #000000;
$grey: #525252be;

#article {
  ul {
    list-style: none;
    padding: 0;

    .article-date-author {
      color: $green-dark;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
    }
  }
}
</style>